node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

build.sh

web/node_modules

# Output
web/.output
web/.vercel
web/.netlify
web/.wrangler
web/.svelte-kit
web/build

# OS
web/.DS_Store
web/Thumbs.db

# Env
web/.env
web/.env.*
web/!.env.example
web/!.env.test

# Vite
web/vite.config.js.timestamp-*
web/vite.config.ts.timestamp-*
